<p>
  <strong>Nome:</strong>
  <%= @item.nome %>
</p>
 <!--
<p>
  <strong>Foto:</strong>
  <%= @item.foto %>
</p>-->

<p>
  <strong>Condição:</strong>
  <%= @item.condicao %>
</p>

<p>
  <strong>Categoria:</strong>
  <%= @item.categoria %>
</p>