<style>
    .heading-1{
        font-size: 350%!important;
    }

    /* Style the search field */
    form.example input[type=text] {
        padding: 10px;
        font-size: 17px;
        border: 1px solid grey;
        float: left;
        width: 80%;
        background: #f1f1f1;
    }

    /* Style the submit button */
    form.example button {
        float: left;
        width: 20%;
        padding: 10px;
        background: #2196F3;
        color: white;
        font-size: 17px;
        border: 1px solid grey;
        border-left: none; /* Prevent double borders */
        cursor: pointer;
    }

    form.example button:hover {
        background: #0b7dda;
    }

    /* Clear floats */
    form.example::after {
        content: "";
        clear: both;
        display: table;
    }

     #mybutton {
         position: relative;
         top: 0;
         right: 0;
     }
</style>

<head>
  <h1 style="font-size:50px;">Cabs</h1>
</head>


<p>Bem vindo a plataforma Cabs!

  <br>
  <br>O que você procura?</p>



<!-- BUSCA -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<form class="example" action="action_page.php">
  <input type="text" placeholder="Procure por um produto" name="search">
  <button type="submit"><i class="fa fa-search"></i></button>
</form>



