<p style="color: green"><%= notice %></p>

<h1>Trocas</h1>

<div id="trocas">
  <% @trocas.each do |troca| %>
    <%= render troca %>
    <p>
      <%= link_to "Show this troca", troca %>
    </p>
  <% end %>
</div>

<%= link_to "New troca", new_troca_path %>
