<h1>Editing item troca</h1>

<%= render "form", item_troca: @item_troca %>

<br>

<div>
  <%= link_to "Show this item troca", @item_troca %> |
  <%= link_to "Back to item trocas", item_trocas_path %>
</div>
