<div><p> <%= link_to 'Home', application_path %> </p></div>


<% if @items.present? %>  
        <table>
            <% @items.each do |item| %>
                <tr> 
                <td> <%= item.nome %> </td>
                <td> <%= item.estado %> </td> 
                </tr>
            <% end %>
        </table>
    
    <% else %>
        <div>Não existem itens cadastrados.</div>
    <% end %>
