*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    color: #1C1C1E;
    font-size: 1.2rem;
}

/* Titulo pagina */

.titlePage {
    font-weight: 400;
}

/* Resultados */

.resultName {
    text-decoration: none;
}

.resultName:hover {
    color:#FF2525;
}

