*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0 0 0 10px;
    font-family: "Roboto", sans-serif;
    color: #1C1C1E;
    font-size: 1.2rem;
}

.searchResults {
    margin-left: 18px;
}

/* Titulo e subtitulo resultado */

.titlePage {
    font-weight: 400;
    color:#7d7873;
}

.subtitleResult {
    color:#7d7873;
}

/* Cards  */

.container {
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin-left: auto;
    justify-content: flex-start;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.5rem;
    padding: 2rem;
    background-color: #FAF9F6;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
    gap: 0.5rem;
    height: 450px;
    width: 300px;
}

.card-title {
    font-size: 2rem;
    text-align: center;
    border-bottom: 2px solid #E0E0E0;
    text-decoration: none;
    color: #FF2525;
    width: 100%;
    color: #1C1C1E
}

.card-title:hover {
    color:#FF2525;
}

.card-text {
    overflow: hidden;
}