<head>
    <meta charset="UTF-8">
    <%= stylesheet_link_tag "indexApplication", "data-turbo-track": "reload" %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap" rel="stylesheet">
</head>

<body>
    <%= render template: "application/nav" %>

    <h1>
        <strong> Bem vindo ao Cabs!</strong>
    </h1>

    <% if @usuario %>
        <p>Olá, <%= @usuario.username %> </p>
        <%= button_to "Deslogar", logout_path, method: :delete %>
    <% end %>
    
</body>
