<head>
    <meta charset="UTF-8">
    <%= stylesheet_link_tag "navApplication", "data-turbo-track": "reload" %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap" rel="stylesheet">
</head>

<nav class="navbar">
    <a id="cabsNav" href="/application">Cabs</a>
    <a href="/application">Início</a>
    <a href="/item_trocas">Item</a>
    <a href= "/usuarios/<%= @usuario.id %>"   >Perfil</a>
    <form class="formSearch" action="/application/search">
        <input name="q" id="item" type="search" placeholder="pesquisar" class="searchInput">
        <button type="submit" class="BtnSearch">buscar</button>
    </form>  
</nav> 